.main{
    height: auto;

    .mask, .body{
      display: flex;
      align-items: center;
      justify-content: center;
      color: #afa18f;
      cursor: default;  
    }
  
    .mask{
      mask-image: url('./assets/mask.svg');
      mask-repeat: no-repeat;
      mask-size: 40px;
      background: #ff512e;
      position: absolute;
      color: black;
    }
  }